@tailwind base;
@tailwind components;
@tailwind utilities;

.body-container {
    background-image: url('https://png.pngtree.com/background/20230422/original/pngtree-soccer-green-and-white-three-dimensional-grass-painting-picture-image_2455116.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.table-container {
    backdrop-filter: blur(10px);
    background-color: rgba(139, 229, 118, 0.648);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loader {
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}